:root {
    --background: rgb(250, 250, 251);
    --header-background: rgb(213, 203, 0);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 2;
    background-color: rgb(202, 196, 15);
}

header .logo {
    height: 60px;
    padding-left: 10px;
}

main {
    /* padding: 10px; */
    display: grid;
    grid-template-rows: auto auto auto;
    height: max-content;
    border: 5px solid rgb(202, 196, 15)
    
}

/* main > * {
    border: 5px solid rgb(202, 196, 15);
} */

.top-row {
    display: grid;
    
}

#witch-list {
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}